* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 246px;
    height: 69px;
    margin-top: 48px;
    margin-left: 837px;
}

#email-text {
    margin-top: 234px;
    margin-left: 693px;
}

.text-style {
    font-size: 20px;
    color: #666666;
    margin-top: 32px;
    margin-left: 693px;
}

input[type=text]{
    width: 400px;
    height: 25px;
    border: 0;
    margin-top: 20px;
    margin-left: 695px;
    /*background-color: #766CED;*/
}

.line-separate {
    margin-top: 10px;
    margin-left: 693px;
    width: 534px;
    height: 1px;
    background-color: black;
}

#dropdownMenu {
    margin-left: 693px;
    margin-top: 20px;
    width: 533px;
    height: 45px;
    border: #766CED 2px solid;
    border-radius: 10px;
}

button {
    margin-top: 42px;
    margin-left: 693px;
    width: 534px;
    height: 68px;
    border: 0;
    border-radius: 10px;
    background-color: #766CED;
    color: #F5F4FF;
    font-size: 16px;
}