.container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.container-username {
    display: flex;
    align-items: center;
    gap: 1.75px;
}

.checkbox-all {
    color: #D9D9D9;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.post-posting {
    font-size: 12px;
    color: #766CED;
}

.post-adopted {
    font-size: 12px;
    color: #777777;
}

.post-created {
    font-size: 12px;
    color: #9B9B9B;
    text-align: center;
}