.margin-bottom-4 {
    margin-bottom: 4px;
}

.gap-9 {
    gap: 9px;
}

/* Board Area */
.font-board {
    color: #9B9B9B;
}

.font-board-userinfo {
    font-weight: 400;
    color: #9B9B9B;
}

.font-board-userinfo-small {
    font-weight: 400;
    color: #C3C3C3;
}

.font-board-role {
    font-weight: 700;
    color: #9B9B9B;
}

.font-board-username {
    font-size: 24px;
}

.board-topline {
    margin-bottom: 40px;
}

.board-bottomline {
    margin-bottom: 17px;
}

.article-post {
    padding-top: 14px;
    justify-content: center;
    display: flex;
}

.article-post > div {
    width: 724px;
    display: flex;
    flex-direction: column;
}

.container-board {
    margin-bottom: 25px;
}

.container-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.margin-bottom-13{
    margin-bottom: 13px;
}

.gap-15{
    gap: 15px;
}

.gap-17{
    gap: 17px;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-bottom-18{
    margin-bottom: 18px;
}

.height-35{
    height: 35px;
}

.font-page {
    font-size: 12px;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* table */
.my-page-table-line-bottom {
    border-bottom: 1px solid #D9D9D9;
}

.button-apply {
    font-size: 12px;
    width: 60px;
    height: 28px;
    border-radius: 4px;
    color: #F5F4FF;
    background-color: #766CED;
}

.button-deny {
    font-size: 12px;
    width: 60px;
    height: 28px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #CFCFCF;
}