<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/admin/admin-base.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-layout.css}">
</head>
<body>
<header>
    <img src="" alt="이미지">
    <section>
        <p class="container">
            <span class="font-header-username">
                닉네임
            </span>
            <span class="font-header">
                    님 환영합니다
            </span>
        </p>
        <a href="" class="font-header">
            로그아웃
        </a>
        <a href="http://localhost:8080/manage" class="font-header">
            관리자 페이지
        </a>
        <a href="" class="font-header">
            마이페이지
        </a>
    </section>
</header>
<main>

</main>
</body>
</html>