<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/admin/admin-base.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-component.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-layout.css}">
    <link rel="stylesheet" th:href="@{/styles/shared/header.css}">
    <link rel="stylesheet" th:href="@{/styles/shared/navigation.css}">
    <script type="module" th:src="@{/js/admin-page.js}"></script>
    <script type="module" th:src="@{/js/header-admin.js}"></script>
    <script type="module" th:src="@{/js/navigation-admin.js}"></script>
</head>
<body>
    <header id="header-admin"></header>
    <main>
        <nav id="nav-admin"></nav>
        <article class="article-post">
            <div>
                <div class="container margin-bottom-4">
                    <div class="container gap-22">
                        <p id="board-username" class="font-board-username"></p>
                        <p id="board-user-role" class="font-board-userinfo-small"></p>
                    </div>
                    <div class="container">
                        <p id="board-user-createdAt" class="font-board-userinfo-small"></p>
                        <p id="board-user-created-description" class="font-board-userinfo-small"></p>
                    </div>
                </div>
                <div class="container margin-bottom-13">
                    <div class="container gap-17">
                        <p id="board-user-phone" class="font-board-userinfo">010-1234-5678</p>
                        <p id="board-user-email" class="font-board-userinfo">dlfgkrltlfgek@naver.com</p>
                    </div>
                    <p class="font-board-role">관리자</p>
                </div>
                <img src="/images/admin-board-topline.svg" alt="" class="board-topline">
                <div class="container-board">
                    <ul id="post-list" class="container-posts">

                    </ul>
                </div>
                <img src="/images/admin-board-bottomline.svg" alt="" class="board-bottomline">
                <div class="container">
                    <div class="container gap-15">
                        <input id="check-all" type="checkbox" class="checkbox-all">
                        <label for="check-all" class="font-page">전체선택</label>
                    </div>
                    <ul id="post-pages">

                    </ul>
                    <div class="container gap-4">
                        <button id="post-approved" class="button-apply container flex-center">승인</button>
                        <button id="post-denied" class="button-deny container flex-center">거절</button>
                    </div>
                </div>
            </div>
        </article>
    </main>
</body>
</html>