<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/admin/admin-base.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-layout.css}">
    <script th:src="@{/js/admin-page.js}" defer></script>
</head>
<body>
    <header>
        <img src="" alt="이미지">
        <section>
            <p>
                <span class="font-header-username">
                    닉네임
                </span>
                <span class="font-header">
                    님 환영합니다
                </span>
            </p>
            <p class="font-header">
                로그아웃
            </p>
            <p class="font-header">
                관리자 페이지
            </p>
            <p class="font-header">
                마이페이지
            </p>
        </section>
    </header>
    <main>
        <nav>
            <ul>
                <li class="font-nav-category-selected">
                    관리자 페이지
                    <div>
                        <ul>
                            <li>
                                <p class="font-nav-title">
                                    공지 관리
                                </p>
                                <p>
                                    공지 관리 페이지
                                </p>
                            </li>
                            <li>
                                <p class="font-nav-title">
                                    게시물 관리
                                </p>
                                <p>
                                    게시물 관리 페이지
                                </p>
                            </li>
                            <li>
                                <p class="font-nav-title">
                                    사용자 관리
                                </p>
                                <p>
                                    사용자 관리 페이지
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="font-nav-category-selected">
                    공지사항
                </li>
                <li class="font-nav-category-selected">
                    진행중인 공고
                </li>
                <li class="font-nav-category-selected">
                    완료된 공고
                </li>
            </ul>
        </nav>
        <article class="article-post">
            <div>
                <ul id="post-list">

                </ul>
            </div>
            <div class="post-page">
                <ul id="post-pages">

                </ul>
            </div>
        </article>
    </main>
</body>
</html>