<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/user/change-password.css}">
</head>
<body>
<img src="" alt="" class="logo">
<p class="text-style" id="new-pw-txt">변경할 비밀번호</p>
<input type="password" placeholder="영문 대문자 4자 이상 숫자 2자 이상 포함">
<div class="line-separate"></div>
<p class="text-style">비밀번호 확인</p>
<input type="password" placeholder="비밀번호를 똑같이 입력해주세요">
<div class="line-separate"></div>
<button>비밀번호 변경하기</button>
</body>
</html>