<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/user/change-password-success.css}">
</head>
<body>
<img src="" alt="" class="logo"> <!--로고 이미지-->
<img src="https://velog.velcdn.com/images/elma98/post/d92fcb5e-f47a-42bf-a730-4011ab654fcb/image.png" alt="" class="check-img">
<p id="change-password-success-text">비밀번호 변경이 완료되었습니다</p>
<button id="login-redirect-btn">로그인</button>
<script>
    const button = document.getElementById('login-redirect-btn');
    button.addEventListener('click', () => {
        window.location.href = 'http://localhost:8080';
    });
</script>
</body>
</html>