<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/user/find-password.css}">
</head>
<body>
<img src="" alt="" class="logo">
<p class="text-style" id="email-text">이메일</p>
<div id="email">
    <input type="text" placeholder="Email">
</div>
<div class="line-separate"></div>
<p class="text-style">비밀번호 찾기 질문</p>
<!--드롭다운 메뉴-->
<p class="text-style">비밀번호 찾기 응답</p>
<div id="pw-question-answer">
    <input type="text" placeholder="응답을 설정해주세요">
</div>
<div class="line-separate"></div>
<button>비밀번호 찾기</button>
</body>
</html>