<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/user/main.css}">
    <script type="module" th:src="@{/js/login.js}" defer></script>
</head>
<body>
<img src="" alt="" class="logo"> <!--로고 이미지-->
<form id="login-form" action="" method="post">
    <div id="email">
        <div>
            <label for="login-email" class="text-style">이메일</label>
        </div>
        <input type="text" id="login-email" required>
    </div>
    <div class="line-separate"></div>
    <div>
        <div id="password">
            <div>
                <label for="login-password" class="text-style">비밀번호</label>
            </div>
            <input type="text" id="login-password" required>
        </div>
    </div>
    <div class="line-separate"></div>
    <div id="find-password">
        <a th:href="@{/find-password}">비밀번호 찾기</a>
    </div>
    <button type="submit" id="login">로그인</button>
    <div id="register-redirect">
        <a th:href="@{/register}">아직 Happy Tails 회원이 아니신가요?</a>
    </div>
</form>
<!--<div id="email">-->
<!--    <div class="text-style">이메일</div>-->
<!--    <input type="text">-->
<!--</div>-->

<!--<div id="password">-->
<!--    <div class="text-style">비밀번호</div>-->
<!--    <input type="text">-->
<!--</div>-->
<!--<div class="line-separate"></div>-->
<!--<div id="find-password">-->
<!--    <a>비밀번호 찾기</a>-->
<!--</div>-->
<!--<button id="login">로그인</button>-->
<!--<div id="register-redirect">-->
<!--    <a th:href="@{/register}">아직 Happy Tails 회원이 아니신가요?</a>-->
<!--</div>-->
</body>
</html>