<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<img src="" alt="" class="logo"> <!--로고 이미지-->
<div id="email">
    <div class="text-style">이메일</div>
    <input type="text">
</div>
<div class="line-separate"></div>
<div id="password">
    <div class="text-style">비밀번호</div>
    <input type="text">
</div>
<div class="line-separate"></div>
<div id="find-password">
    <a>비밀번호 찾기</a>
</div>
<button id="login">로그인</button>
<div id="register-redirect">
    <a>아직 Happy Tails 회원이 아니신가요?</a>
</div>
</body>
</html>