<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-base.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-component.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-layout.css}">
    <link rel="stylesheet" th:href="@{/styles/shared/base.css}">
    <link rel="stylesheet" th:href="@{/styles/shared/header.css}">
    <link rel="stylesheet" th:href="@{/styles/shared/navigation.css}">
    <script type="module" th:src="@{/js/header.js}"></script>
    <script type="module" th:src="@{/js/navigation.js}"></script>
    <script type="module" th:src="@{/js/notice-list.js}"></script>
    <title>공지사항</title>
</head>
<body>
<header id="header"></header>
<main>
    <nav id="nav"></nav>
    <article class="article-post">
        <div>
            <h2 class="padding-bottom-13 line-bottom-thick">공지사항</h2>
            <div>
                <table id="table-user-notice" class="margin-bottom-18">
                    <colgroup>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="height-35 table-line-bottom">
                    <tr>
                        <th colspan="2">제목</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-user-list">
                    <!--<tr class="height-35 table-line-bottom">-->
                    <!--    <td class="notice-category">[ 공지사항 ]</td>-->
                    <!--    <td>우리 귀여운 뽀삐 눈물을 머금고 분양합니다</td>-->
                    <!--    <td class="notice-created-at">2024.07.24</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
            <!-- Page Area -->
            <div class="container margin-bottom-7 justify-content-center">
                <ul id="notice-pages">

                </ul>
            </div>
        </div>
    </article>
    <!--<div class="main-content">-->
    <!--    <h2>공지사항</h2>-->
    <!--    <form id="notice-form" th:action="@{/admin/notice}" method="get">-->
    <!--        <table>-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th></th>-->
    <!--                <th>제목</th>-->
    <!--                <th>작성일</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr th:each="notice : ${notices}">-->
    <!--                <td><input type="checkbox" name="ids" th:value="${notice.id}"></td>-->
    <!--                <td th:text="${notice.title}">Title</td>-->
    <!--                <td th:text="${notice.createdAt}">Date</td>-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--        </table>-->
    <!--    </form>-->
    <!--</div>-->
</main>
</body>
</html>