<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-base.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-component.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/admin-layout.css}">
    <link rel="stylesheet" th:href="@{/styles/shared/base.css}">
    <link rel="stylesheet" th:href="@{/styles/shared/header.css}">
    <link rel="stylesheet" th:href="@{/styles/shared/navigation.css}">
    <script type="module" th:src="@{/js/header-admin.js}"></script>
    <script type="module" th:src="@{/js/navigation-admin.js}"></script>
    <script type="module" th:src="@{/js/admin-notice.js}"></script>
    <title>공지사항</title>
</head>
<body>
<header id="header-admin"></header>
<main>
    <div id="nav-admin"></div>
    <article class="article-post">
        <div>
            <div class="container margin-bottom-4">
                <div class="container gap-22">
                    <p id="board-username" class="font-board-username"></p>
                    <p id="board-user-role" class="font-board-userinfo-small"></p>
                </div>
                <div class="container">
                    <p id="board-user-createdAt" class="font-board-userinfo-small"></p>
                    <p id="board-user-created-description" class="font-board-userinfo-small"></p>
                </div>
            </div>
            <div class="container margin-bottom-13">
                <div class="container gap-17">
                    <p id="board-user-phone" class="font-board-userinfo">010-1234-5678</p>
                    <p id="board-user-email" class="font-board-userinfo">dlfgkrltlfgek@naver.com</p>
                </div>
                <p class="font-board-role">관리자</p>
            </div>
            <img src="/images/admin-board-topline.svg" alt="" class="board-topline margin-bottom-0">

            <div>
                <table id="table-admin-notice" class="margin-bottom-18">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="height-35 table-line-bottom">
                    <tr>
                        <th colspan="3">제목</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody id="tbody-user-list">
                    <!--<tr class="height-35 table-line-bottom">-->
                    <!--    <td><input type="checkbox" class="checkbox-all"></td>-->
                    <!--    <td class="notice-category">[ 공지사항 ]</td>-->
                    <!--    <td>우리 귀여운 뽀삐 눈물을 머금고 분양합니다</td>-->
                    <!--    <td class="notice-created-at">2024.07.24</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
            <!-- Page Area -->
            <div class="container margin-bottom-7">
                <div class="container gap-15">
                    <input id="check-all-notice" type="checkbox" class="checkbox-all">
                    <label for="check-all-notice" class="font-page">전체선택</label>
                </div>
                <ul id="notice-pages">

                </ul>
                <div class="container gap-4">
                    <a id="notice-write" class="button-apply container flex-center">글쓰기</a>
                    <a id="notice-delete" class="button-deny container flex-center">삭제</a>
                </div>
            </div>
        </div>
    </article>


    <!--<div class="main-content">-->
    <!--    <h2>All Notices</h2>-->
    <!--    <form id="admin-form" th:action="@{/admin/notice}" method="get">-->
    <!--        <table>-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th></th>-->
    <!--                <th>제목</th>-->
    <!--                <th>작성일</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr th:each="notice : ${notices}">-->
    <!--                <td><input type="checkbox" name="ids" th:value="${notice.id}"></td>-->
    <!--                <td th:text="${notice.title}">Title</td>-->
    <!--                <td th:text="${notice.createdAt}">Date</td>-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--        </table>-->
    <!--    </form>-->
    <!--    <button id="write-notice-btn">글쓰기</button>-->
    <!--    <button type="submit">삭제</button>-->

    <!--</div>-->
</main>
</body>
</html>