<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/styles/user/register.css}">
</head>
<body>
<img src="" alt="" class="logo"> <!--로고 이미지-->
<p class="text-style" id="email-text">아이디</p>
<div id="email">
    <input type="text" placeholder="Email">
    <button>중복확인</button>
</div>
<div class="line-separate"></div>
<p class="text-style" id="password-text">비밀번호</p>
<div id="password">
    <input type="password" placeholder="영문 대문자 4자 이상 숫자 2자 이상 포함">
</div>
<div class="line-separate"></div>
<p class="text-style" id="password-check-text">비밀번호 확인</p>
<div id="password-check">
    <input type="password" placeholder="비밀번호를 똑같이 입력해주세요">
</div>
<div class="line-separate"></div>
<p class="text-style">비밀번호 찾기 질문</p>
<!--드롭다운 메뉴-->
<p class="text-style" id="pw-question-answer-text">비밀번호 찾기 응답</p>
<div id="pw-question-answer">
    <input type="text">
</div>
<div class="line-separate"></div>
<p class="text-style" id="username-text">닉네임</p>
<div id="username">
    <input type="text" placeholder="부적절한 닉네임 사용시 차단됩니다">
    <button>중복확인</button>
</div>
<div class="line-separate"></div>
<p class="text-style" id="phone-text">휴대폰번호</p>
<div id="phone">
    <input type="text">
</div>
<div class="line-separate"></div>
<div>
    <input type="checkbox">
    <p>개인정보 제공동의</p>
    <p>전체보기</p>
</div>
<button>회원가입</button>
</body>
</html>